/* Reset some default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

nav {
  background-color: #8e31ff;
  color: white;
  padding: 15px 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.section-content {
  max-width: 1200px; /* Increased max-width */
  margin: 0 auto;
  padding: 0 20px; /* Adjusted padding */
}

#home {
  background-color: #8e31ff;
}

#about {
  background-color: #ffffff;
}

#video {
  background-color: #8e31ff;
}

#contact {
  background-color: #ffffff;
}

.section_pic_container {
  margin-bottom: 20px;
}

.home-pic,
.about-pic {
  width: 100%;
  max-width: 800px; /* Increased max-width */
  height: auto;
  border-radius: 8px;
}

.section_text_p1,
.about-title,
.video-title,
.contact-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section_text_2,
.about-subheading,
.video-subheading,
.contact-subtext {
  font-size: 20px;
  margin-bottom: 20px;
}

.about-para {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-container {
  margin-top: 20px;
}

.section_button {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  border: 2px solid #000000; /* Black border to make it stand out */
  padding: 12px 25px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.section_button:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  color: #000000; /* Keep text black on hover */
  border-color: #000000; /* Keep border black on hover */
}

.video-container {
  text-align: center;
  margin: 20px 0;
}

.video-text {
  margin-top: 20px;
}

.contact-text {
  max-width: 800px; /* Increased max-width */
  margin: 0 auto;
}

.contact-email {
  font-size: 18px;
  margin: 10px 0 20px;
  font-style: italic;
}

footer {
  background-color: #8e31ff;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

#socials-container {
  margin-bottom: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .home-pic,
  .about-pic {
    max-width: 100%;
  }

  .section_text_p1,
  .about-title,
  .video-title,
  .contact-title {
    font-size: 24px;
  }

  .section_text_2,
  .about-subheading,
  .video-subheading,
  .contact-subtext {
    font-size: 18px;
  }

  .about-para {
    font-size: 14px;
  }

  .section_button {
    font-size: 16px;
  }
}
